name: staging

on:
  push:
    branches:
      - release/*

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      STAGE: staging

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install NPM dependencies
        run: npm ci
      - name: Extract branch name
        shell: bash
        run: echo "##[set-output name=branch;]$(echo ${GITHUB_REF#refs/heads/})"
        id: extract_branch
      - uses: actions/github-script@v4
        id: tag_name
        with:
          script: |
            const tag_name = "${{steps.extract_branch.outputs.branch}}".split('/')[1]
            return tag_name
          result-encoding: string
      - name: Create tag
        uses: actions/github-script@v4
        with:
          github-token: ${{ github.token }}
          script: |
            github.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{ steps.set-result.outputs.result }}",
              sha: context.sha
            })
      - name: Create Pre-Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.set-result.outputs.result }}
          release_name: Stagin ${{ steps.set-result.outputs.result }}
          body: |
            Release body
          draft: false
          prerelease: true
