name: staging

on:
  push:
    branches:
      - release/*

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    env:
      STAGE: staging

    strategy:
      matrix:
        node-version: [14.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install NPM dependencies
        run: npm ci
      - uses: actions/github-script@v4
        id: tag_name
        with:
          script: |
            return context.ref.split('/')[3]
          result-encoding: string
      - name: Create tag
        uses: actions/github-script@v4
        with:
          github-token: ${{ github.token }}
          script: |
            github.git.createRef({
              owner: context.repo.owner,
              repo: context.repo.repo,
              ref: "refs/tags/${{ steps.tag_name.outputs.result }}",
              sha: context.sha
            })
      - name: Create Pre-Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ steps.tag_name.outputs.result }}
          release_name: elvira-staging-${{ steps.tag_name.outputs.result }}
          body: |
            Release Note Here
          draft: false
          prerelease: true
